<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a style="margin-left: 15px;" class="navbar-brand" href="/">
        GuiaPress
    </a>
    <!-- classe navbar-nav= dizer que é um menu classe mr-auto é pra alinhar automaticamente -->
    <ul class="navbar-nav mr-auto">
    <!-- classe nav-item pra mostrar que é um item desse menu -->    
        <li class="nav-item">
    <!-- classe nav-link muda a cor da tag a no menu-->        
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
        <li class="nav-item">
            <!-- classe nav-link muda a cor da tag a no menu-->        
                    <a class="nav-link" href="/admin/articles">Artigos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users">Usuarios</a>
        </li>   
    
    </ul>

    <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>   
    
        </ul>
   
</nav>